<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>file upload demo</title>

    <script src="/static/node_modules/plupload/js/plupload.full.min.js"></script>
  </head>

  <body>
      <ul id="filelist"></ul>
      <br />

      <div id="container">
          <a id="browse" href="javascript:;">[Browse...]</a>
          <a id="start-upload" href="javascript:;">[Start Upload]</a>
          <br />
          <pre id="console"></pre>
      </div>

      <script src="/static/js/app.js"></script>
  </body>
</html>
