<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>file upload demo</title>

    <script src="/static/node_modules/plupload/js/plupload.full.min.js"></script>
  </head>

  <body>
      <ul id="filelist" style="color: green;">
        <li>Your browser doesn't have Flash, Silverlight or HTML5 support.</li>
      </ul>

      <div id="container">
          <a id="browse" href="javascript:;">[Browse...]</a>
          <a id="start-upload" href="javascript:;">[Start Upload]</a>
          <br />
          <pre id="console"></pre>
      </div>

      <script>
        (function () {
          var u = '/static/js/app.js?_t=' + (new Date()).getTime();
          var s = document.createElement('script');
          s.src = u;
          document.body.appendChild(s);
        }).call(this);
      </script>
  </body>
</html>
